.CercleBtnStartGame {
    border-radius: 50%;
    width: 10.384215991692628vh;
    height: 10.384215991692628vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00A19A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.CercleBtnStartGameRed {
    background-color: #a42e49;
}

.displayNomEquipe {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.ButtonContent {
    border-radius: 50%;
    width: 36.3447559709242vh;
    height: 36.3447559709242vh;
    border: 0.726895119418484vh solid #b7b7b7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.RedGreen {
    display: flex;
    justify-content: space-between;
    padding: 0.5vh;
    color: black
}

.EyeNose {
    display: flex;
    justify-content: space-between;
    
}

.Mouth {
    display: flex;
    justify-content: center;
    margin-top: -4%;
}

.TontonSodoImg {
    width: 35%
}

.TontonSodoContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

#gray {
    filter: grayscale(90%)
}

.NameSessionInGame {
    text-align: center;
    margin-top: 1.5vh;
    font-size: 2.2rem;
}

.TontonVS {
    color: #a42e49;
    margin: 0;
}

.VS {
    background-color: #00A19A;
    margin: 0;
}
.difficult {
    margin: 0;
    font-size: 2rem;
    text-shadow: 0px 1px 0px black;
    color: white;
}