.OeilNezBoucheContent {
  background-color: #00A19A;
  display: flex;
  flex-direction: column;
  color: #FFF;
  text-align: center;
  justify-content: space-around;
  padding: 3vh;
  z-index: 3;
  flex: 1;
}

.WhiteCircle {
  border-radius: 50%;
  width: 9.3vh;
  height: 9.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vh;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  margin-top: -5vh;
}

.EyesPict {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.OeilNezBoucheH4 {
  font-size: 2rem;
}

.OeilNezBoucheText {
  font: Bold 25px/29px DIN Alternate;
  font-size: 1.4rem;
}

.OeilNezBoucheFooter1 {
  font: Bold 25px/29px DIN Alternate;
  font-size: 1.3rem;
}

.OeilNezBoucheFooter2 {
  font-size: 1.5rem;
  margin: 0;
}