.HomeContent {
    flex: 1;
}

.TittleHome{
    text-align: center;
    margin-bottom: 2vh;
    padding: 1vh;
}

.QrCodeReaderHome{
    display: flex;
    flex-direction: column;
}

.QrCodeReaderImg{
    display: flex;
    justify-content: center;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}

.ImgPhoto{
    margin-bottom: 2vh;
    width: 40%;
    height: 40%;
}

#IconCheck {
    font-size: 2rem;
}

.form-control {
    font-size: 1.5rem !important;
}

.btn:hover {
    background-color: #00A19A !important;
}

.btn-secondary {
    background-color: #00A19A !important;
}

input{
    background-color: #ECEFF1 !important;
}

.ImgTontonHomeContent {
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
}

.InputHomeContent {
    margin: 1vh;
}

.ImgTontonHome {
    width: 60%;
    height: auto;
    margin-top: 3.5vh;
    margin-bottom: 3vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .InputHomeContent {
        margin: 6vh;
    }

    .TittleHome{
        font-size: 2.5rem
    }

    .form-control{
        padding: 3vh;
        font-size: 2rem !important;
    }

    .btn {
        font-size: 2rem !important;
    }
  }