.BtnRegister, .BtnLogin {
    background-color: #ECEFF1 !important;
    color: #00A19A !important;
    border-color: #ECEFF1 !important;
    margin: 2vh;
}

.BtnLogin:hover {
    background-color: #ECEFF1 !important;
    color: #00A19A !important;
    border-color: #ECEFF1 !important;
    margin: 2vh;
}

.BtnRegister:hover {
    background-color: #ECEFF1 !important;
    color: #00A19A !important;
    border-color: #ECEFF1 !important;
    margin: 2vh;
}

.LinkRegister {
    color: #00A19A !important;
}

.BtnLoginGroupe {
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
}

.FormContent {
    background-color: #00A19A !important;
    flex: 1;
    padding: 5vh;
}

.DivInput {
    text-align: center;
}

.LabelForm {
    margin-top: 2vh;
    font-size: 1.3rem;
}

.ImgProfilLogin {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.TitleLoginRegister {
    padding-top: 2vh;
    font-size: 2rem;
    text-align: center;
}