.progressBarContainer {
    display: flex;
    justify-content: center;
    margin: 2vh;
}

.progressBarReactStrap{
    margin: 2rem;
}

.ThreeBottle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5vh;
}

.progress-bar {
    background-color: #00A19A !important;
    border-radius: 0.5rem;
}

.ProgressBar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}