.progressBarContainer {
    display: flex;
    justify-content: center;
    margin: 2vh;
}

.progressBarReactStrap{
    margin: 2rem;
}

.ThreeBottle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5vh;
}

.progress-bar {
    background-color: #00A19A !important;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .50rem !important;
}

.ProgressBar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}