.questionStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageStyle {
    height: 20vh;
    width: 20wh;
}

.bonneReponse {
    background-color: green !important;
    color: white;
}

.mauvaiseReponse {
    background-color: grey !important;
    color: white;
}
.answerChoosen {
    padding: 1vh !important;
    font-size: 1.5rem !important;
}


.questionStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionImg{
    margin-top: 0.5em;
    border: solid 2px grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 90vw;
}
.imageStyle {
    height: 20vh;
    width: 20wh;
}

.bonneReponse {
    background-color: green;
    color: white;
}

.mauvaiseReponse {
    background-color: red;
    color: white;
    width: 20vh;
    margin-bottom: 1em;
}  

.questionResponse button{
    display: flex;
    flex-direction: column;
    width: 30vh;
}

.button1 {
    height: 13vh;
    border-radius: 10px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0.5em;
    font-size: 1.3em;
}

.question {
    margin-top: 0.5em;
    width:100%;
    text-align: center;
    color: white;
    background-color: #00a19a;
    border-radius: 10px;
    font-size: 1.7em;
    padding: 1vh;

}
