/*--------------------question -------------*/
.questionStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin: 1.5vh;
}

.imageStyle {
    height: 20vh;
    width: 20wh;
}

.questionImg{
    margin-top: 0.5em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 90vw;
}

.button1 {
    padding: 4vh;    
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    font-size: 1.3em;
    border: 0;
}

.question {
    width:100%;
    text-align: center;
    color: white;
    background-color: #00a19a;
    border-radius: 0.5rem;
    font-size: 1.4em;
    padding: 1vh;
    margin-bottom: 2vh;
    margin-top: 1vh;
}
.imageStyle {
    height: 20vh;
    width: 20wh;
}

/*----------------réponse--------------------*/

.bonneReponse {
    background-color: #00a334 !important;
    color: white !important;
}

.mauvaiseReponse {
    background-color: white !important;
    width: 20vh;
}  
.answerChoosenFalse {
 background-color: red !important;
 color: white;
}

.questionResponse {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
   
}

.buttonNext {
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    text-align: center;
    padding: 1rem;
    margin-top: 1vh;
    font-size: 1.8rem;
    border: 0;
}

.réponse {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 8vh;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: .5vh;
    font-size: 1.6rem;

}

.lisetResponse {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height: 30vh; 
}

.explication {
    text-align: center;
    font-size: 1.6rem;
    padding: 1vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 1vh;
    border-radius: 0.5rem;
    background-color: hsl(204, 47%, 95%);
}

