.questionStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageStyle {
    height: 20vh;
    width: 20wh;
}

.bonneReponse {
    background-color: green;
    color: white;
}

.mauvaiseReponse {
    background-color: red;
    color: white;
}