.questionStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageStyle {
    height: 20vh;
    width: 20wh;
}

.bonneReponse {
    background-color: green !important;
    color: white;
}

.mauvaiseReponse {
    background-color: grey !important;
    color: white;
}
.answerChoosen {
    padding: 1vh !important;
    font-size: 1.5rem !important;
}