.Timer {
  background: #eceff1 !important;
  border-radius: .50rem !important;
  margin: 0;
  border: 0;
}

progress::-moz-progress-bar {
  background: #00A19A;
  border-radius: .50rem ;
  padding: 0;
}