.BorderTopColor{
    background-color: #00A19A;
}

.ArrowImgTP{
    padding: 1.5vh;
}

.ImgCenterBorderTop{
    display: flex;
    justify-content: center;
}

.CardImgTP{
    background-color: #00A19A;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 1.3vh;
    margin-top: -13%;
    width: 20%;
}

#PaddingHome{
    padding: 3vh;
}

@media screen and (min-width: 768px) {
    .ArrowImgTP {
        padding: 2.5vh;
    }

    .CardImgTP {
        margin-top: -10%;
        width: 15%;
    }

    #PaddingHome{
        padding: 3.6vh;
    }
  }